<strong>Olá, {{name}}</strong>
<br />
<p>Uma nova auditoria foi atribuida para você: </p>
<p>
    <strong>Observação: </strong> {{observacao}} <br /> <br />
    <strong>Prazo: </strong> até a semana {{semana}} <br /> <br />
    <strong>Local: </strong> {{setor}}
</p>