<strong>Olá, {{name}}</strong>
<br />
<p>Uma nova ação foi atribuida para você: </p>
<p>
    <strong>Setor: </strong> {{setor}} <br /> <br />
    <strong>Maquina: </strong> {{maquina}}<br /> <br />
    <strong>Problema: </strong> {{problema}} <br /> <br />
</p>